.box {
	background: #eee;
	margin-left: 6px;
	margin-right: -6px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	overflow-y: auto;
	text-align: center;
	border-radius: 3px;
}

.box1 {
	width: 100px;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	display: inline-block;
	text-align: center;
}

.box1 img {
	border-radius: 3px;
}

.input {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	font-size: 100px;
}

.file {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	text-indent: 0;
}

.file input {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	font-size: 100px;
}

.file:hover {
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	color: #004974;
	text-decoration: none;
}

.share_btn {
	position: absolute;
	top: 20px;
	left: 16px;
	z-index: 1;
}

.share_btn i {
	font-size: 20px;
}

.mybadge {
	display: inline;
	position: relative;
	border-radius: 4px;
	text-shadow: none;
	text-align: center;
	font-size: 8px;
	color: #fff;
	vertical-align: center;
	height: 100%;
	top: -3px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.content_text {
	position: relative;
	padding-top: 30px;
}

.content_text img {
	position: relative;
	border-radius: 5px;
	width: 80%;
	left: 10%;
}

.content_text h4 {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
}

.content_text p {
	position: relative;
	font-size: 16px;
	color: rgb(100,100,100);
	text-align: left;
	width: 80%;
	left: 10%;
}

.mdui-drawer .mdui-list {
	padding: 0px 0;
	!important;
}

.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
}

.bigimgs {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: none;
}

.cnt_pc {
	margin: 50px;
	padding: 10px;
	width: 50%;
	height: 50%;
	border-radius: 10px;
}

.cnt_pc1 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
}

.top-image {
	width: 100%;
	height: 100%;
	padding: 30px;
	padding-bottom: 30px;
}

.top-image img {
	width: 70px;
	height: 70px;
	border-radius: 8px;
}

.screenshots-box {
	margin-right: 6px;
}

.tle_tag {
	font-weight: bold;
}

.top-title {
	font-size: 18px;
	text-align: center;
	position: relative;
}

.top-title-msg {
	margin-top: -12px;
	text-align: center;
	position: relative;
}

.down_btn {
	color: white;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.top_divider {
	width: 100%;
	height: 10px;
}

.mdui_card_primary {
	padding-top: 0px;
}

.cnt_title {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 18px;
}

.cnt_msg_bottom {
	margin-bottom: 5px;
}

.anim {
	animation: jiggle 1s;
}

@keyframes jiggle {
	48%,62% {
		transform: scale(1.0,1.0)
	}

	50% {
		transform: scale(1.1,0.9)
	}

	56% {
		transform: scale(0.9,1.1) translate(0,-5px)
	}

	59% {
		transform: scale(1.0,1.0) translate(0,-3px)
	}
}

.iscontent {
	color: rgba(255,255,255,0);
}
/*.mdui-ripple {
	border-radius: 30px
}*/

.mdui-card {
	/*border-radius: 10px*/
	border: 0px solid rgba(0,0,0,.12);
}

.mdui-grid-list {
	margin: 0px 0px 16px 16px
}

.mdui-col {
	padding: 16px 16px 0px 0px !important
}

.mdui_grid_list {
	padding: 0px 0px 16px 16px
}

.mdui_col {
	padding: 16px 16px 0px 0px !important
}

.mdui-card-header-subtitle {
	font-size: 10px
}

.subtitle-icon-text {
	font-size: 13px;
	margin-bottom: 2px
}

.mdui-card-media-covered {
	padding-top: 20px
}

.mdui-card-background {
	height: 200px;
	width: 100%;
	filter: blur(1px)
}

.mdui-card-avatar {
	height: 60px !important;
	width: 60px !important;
	border-radius: 100px;
	border: 1px solid white
}

.top-title {
	font-size: 15px;
	text-shadow: 1px 1px 2px darkslategray
}

.top-title-msg {
	text-shadow: 1px 1px 2px darkslategray
}

/*.mdui-menu {
	border-radius: 10px
}*/

.drawer-title-text {
	position: absolute;
	bottom: 0px;
	margin-left: 5px;
	margin-bottom: 20px;
	font-size: 15px
}

#authorimgs {
	position: absolute;
	height: 70px;
	width: 70px;
	bottom: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
	border-radius: 10px;
}

.mdui-btn-dense {
	border-radius: 8px
}

#fab_up {
	border-radius: 100px;
	z-index: 5101
	opacity: 100;
}

.mdui-dialog {
	z-index: 5102
}

#content_l {
	padding-bottom: 20px
}

#top_app_icon {
	width: 70px;
	height: 70px;
	border-radius: 8px
}

#top_image {
	width: 100%;
	height: 300px;
	padding-top: 35px;
	opacity: 0.9 !important
}

.mdui-tab a {
	flex: auto !important;
	max-width: 100%
}

.mdui-toolbar-spacer {
	height: 100%;
}

.clickable-row {
	cursor: pointer;
}

.mdui-table-fluid {
	border-radius: 10px !important;
	border: 0px solid rgba(0,0,0,.12)
}

.doc-container h1 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	margin: 0 0 20px 0;
	color: #3f51b5!important;
}

@media (prefers-color-scheme: dark) {
	.doc-container h1 {
		color: #8ab4f8 !important;
	}
}

@media (min-width: 480px) {
	.doc-container h1 {
		font-size: 28px;
		line-height: 36px;
		margin: 0 0 25px 0;
	}
}

@media (min-width: 840px) {
	.doc-container h1 {
		font-size: 34px;
		line-height: 40px;
		margin: 0 0 30px 0;
	}
}

.doc-toc {
	margin: 0px 0 0 0;
	font-size: 16px;
	position: relative;
	border-left: 3px solid;
	color: #3f51b5!important;
}

@media (prefers-color-scheme: dark) {
	.doc-toc {
		color: #8ab4f8 !important;
	}
}

.doc-toc a {
	text-decoration: none;
	color: inherit;
}

.doc-toc:before {
	content: '目录';
	font-size: 15px;
	line-height: 16px;
	font-weight: 400;
	color: #757575;
}

.doc-toc ul,
.doc-toc:before {
	padding-left: 16px;
}

.doc-toc ul {
	list-style: none;
	margin: 0;
}

.doc-toc ul li {
	margin: 1em 0;
}

.doc-toc ul li:first-child {
	margin-top: 0;
}

.doc-toc ul li:last-child {
	margin-bottom: 0;
}

.doc-toc ul li ul {
	margin: 1em 0;
	font-size: 0.83em;
}

.doc-toc > ul {
	margin-top: 1em;
}

@media (min-width: 480px) {
	.doc-toc {
		margin-top: 0px;
		font-size: 17px;
		border-left-width: 4px;
	}

	.doc-toc ul,
  .doc-toc:before {
		padding-left: 18px;
	}
}

@media (min-width: 840px) {
	.doc-toc {
		margin-top: 0px;
		font-size: 18px;
		border-left-width: 5px;
	}

	.doc-toc ul,
  .doc-toc:before {
		padding-left: 20px;
	}
}

.doc-chapter {
	padding: 0 0 50px 0;
}

.doc-chapter h2 a {
	text-decoration: none;
	color: inherit;
}

.doc-chapter h2 {
	color: #3f51b5!important;
}

@media (prefers-color-scheme: dark) {
	.doc-chapter h2 {
		color: #8ab4f8 !important;
	}
}

.doc-chapter h2 a:before {
	background-color: transparent !important;
}

.doc-chapter h2 {
	padding-bottom: 0.7em;
	font-weight: 400;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	margin: -50px 0 0.8em 0 !important
}

.doc-chapter-title {
	padding-top: -50px !important;
}

.doc-chapter .doc-nowrap {
	vertical-align: baseline;
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	.doc-chapter h2 {
		border-bottom-color: rgba(255, 255, 255, 0.12);
	}
}

.doc-chapter h2:before {
	content: '';
	display: block;
	height: 90px;
	visibility: hidden;
}

.doc-chapter h3 {
	padding-bottom: 0.5em;
	margin: -30px 0 0.8em 0 !important;
	padding-top: 90px;
	font-size: 16px;
	font-weight: bold;
}

.doc-chapter h4 {
	font-size: 16px;
	padding-top: 72px;
	margin-top: -50px;
}

.doc-chapter h5 {
	font-size: 14px;
	padding-top: 72px;
	margin-top: -50px;
}

.doc-code {
	border: 0px solid rgba(0, 0, 0,.12) !important;
	border-radius: 10px !important;
	padding: 0px;
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.doc-code-divider {
	margin: 0 6px;
}

.mdui-typo pre {
	background-color: #f7f7f9;
	border: none;
}

table {
	white-space: nowrap
}

.mdui-typo h2 {
	margin-top: 0px;
}

.mdui-list-item {
	padding-left: 20px !important
}