<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$api_data[name]}- {$name}</title>
    <meta name="description" content="{$api_data[description]}">
    <meta name="keywords" content="{$api_data[keywords]}">
    <link rel="stylesheet" href="{$templates}/css/LayUI/layui/css/layui.css">
    <script src="{$templates}/css/LayUI/layui/layui.all.js"></script>
    <style>.url{word-break:break-all;cursor:pointer;margin-left:5px;color:#777;border:none;border-radius:0;border-bottom:2px solid #5FB878;}.simpleTable{line-height:20px;padding-bottom:16px;}.linep{font-size:14px;font-weight:700;color:#555;padding-left:14px;height:16px;line-height:16px;margin-bottom:18px;position:relative;margin-top:15px;}.linep:before{content:'';width:4px;height:16px;background:#00aeff;border-radius:2px;position:absolute;left:0;top:0;}::-webkit-scrollbar{width:9px;height:9px}::-webkit-scrollbar-track-piece{background-color:#ebebeb;-webkit-border-radius:4px}::-webkit-scrollbar-thumb:vertical{height:32px;background-color:#ccc;-webkit-border-radius:4px}::-webkit-scrollbar-thumb:horizontal{width:32px;background-color:#ccc;-webkit-border-radius:4px}</style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>{$api_data[name]}</legend>
        </fieldset>
        <blockquote class="layui-elem-quote">{$api_data[description]}</blockquote>
    </div>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title" style="text-align: center!important;">
            <li class="layui-this">API文档</li>
            <li>错误码参照</li>
            <li>示例代码</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <p class="simpleTable">
                    <span class="layui-badge layui-bg-black">接口地址：</span>
                    <span class="url" data-clipboard-text="{$http}{$api_data[url]}">{$http}{$api_data[url]}</span>
                </p>
                <p class="simpleTable">
                    <span class="layui-badge layui-bg-green">返回格式：</span>
                    <span class="url" data-clipboard-text="{$api_data[return_format]}">{$api_data[return_format]}</span>
                </p>
                <p class="simpleTable">
                    <span class="layui-badge">请求方式：</span>
                    <span class="url" data-clipboard-text="{$api_data[request_format]}">{$api_data[request_format]}</span>
                </p>
                <p class="simpleTable">
                    <span class="layui-badge layui-bg-blue">请求示例：</span>
                    <span class="url" data-clipboard-text="{$http}{$api_data[url]}{$request_parameter_splicing}">{$http}{$api_data[url]}{$request_parameter_splicing}</span>
                </p>
                <p class="linep">请求参数说明：</p>
                <table class="layui-table" lay-size="sm">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>必填</th>
                        <th>类型</th>
                        <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                       {foreach $request_parameter($key,$value)}
                        <tr><td>{@value[name]}</td><td>{@value[required]}</td><td>{@value[type]}</td><td>{@value[explanation]}</td></tr>                    
                       {/foreach}
                        </tbody>
                </table>
                <p class="linep">返回参数说明：</p>
                <table class="layui-table" lay-size="sm">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                       {foreach $return_parameter($key,$value)}
                        <tr><td>{@value[name]}</td><td>{@value[type]}</td><td>{@value[explanation]}</td></tr>                    
                       {/foreach}
                    </tbody>
                </table>
                <p class="linep">返回示例：</p>
                <pre class="layui-code">{$api_data[contents]}</pre>
            </div>
            <div class="layui-tab-item">
                <p class="linep">错误码格式说明：</p>
                <table class="layui-table" lay-size="sm">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                       {foreach $status_code_binding($key,$value)}
                        <tr><td>{@value[name]}</td><td>{@value[type]}</td><td>{@value[explanation]}</td></tr>                    
                       {/foreach}
       </tbody>
                </table>
            </div>
            <div class="layui-tab-item">
                <p class="linep">代码示例：</p>
                <pre class="layui-code">暂无示例</pre>
            </div>
        </div>
    </div>
</div>
<script src="{$templates}/css/clipboard.js/2.0.4/clipboard.min.js"></script>
<script>
    layui.use('code', function(){ //加载code模块
        layui.code(); //引用code方法
        var $ = layui.jquery;
        $(".layui-code-h3").html("{$name}");
    });
    var clipboard = new ClipboardJS('.url');
    clipboard.on('success', function(e) {
        layer.msg('复制成功!');
    });
    clipboard.on('error', function(e) {
        layer.msg('复制成功!');
    });
</script>
</body>
</html>